# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Bikroy_project\bikroy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
